* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    background-color: #00000017;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-image: url(https://images.unsplash.com/photo-1620230874645-0d85522b20f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

header {
    background-color: rgba(0, 0, 0, 0.461);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}

.logo-container {
    width: 100px;
    height: 100px;
}

.logo {
    height: 70px;
    width: 70px;
    transition: transform 0.5s;
    animation: spin 7s infinite alternate;
}

.menu-container {
    margin-right: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.item {
    color: rgba(255, 255, 255, 0.774);
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px;
    transition: transform 0.5s;
}

.item:hover {
    transform: scale(1.1);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
}

main {
    /* background-color: rgba(0, 0, 0, 0.461); */
}
.botoes h1{

    font-size: 3rem;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
    padding-top: 80px;
}

.secaoMembros{
    display: flex;
    justify-content: space-evenly;
    padding: 15px 20px;
    padding-top: 90px;

    
}

.botao{
    
    color: #f7f3f3;
    font-weight: bold;

    background-color: rgba(23, 23, 21, 0.168);
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.5s;
}

.botao p {
    pointer-events:none;
}

.botao:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #fff;
    color: black;
}

.info-container{
background-color: rgba(0, 0, 0, 0.461);
padding: 20px 0;
}

.info-container .container div.vis{
    display: none;
}

.info-container .container div.vis.mostrar{
    display: block;
}

figure.perfil{
    width: 300px;
    height: 534px;
}

.perfil img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}
.data img{
    margin: 30px 0 90px;
    width: 100%;
}
.data{
    display: flex;
    justify-content: space-evenly;
    padding: 70px 0px;
}



main h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

main p {
    font-size: 1.5rem;
    margin: 0;
}

footer {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.461);
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}